body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
    color: white;
    font-family: Arial, sans-serif;
    color:rgb(11, 23, 57);
  }
  
  .container {
    text-align: center;
    background-color: aliceblue;
    border-radius: 5px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color:rgb(63, 57, 57);
    border: none;
  }
